body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 40px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

input, select, textarea, button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
